 .aside {
  background:#d6337e   ;
  padding: 10px 5px;
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: space-around;
 }

.serch {
  position: relative;
  width: 300px;
}

.serch input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
}

.serch input[type="text"]:focus {
  border-color: #66afe9;
}

.aside-link {
  text-decoration: none;
  color: white;
  margin: 0 .5rem;
  font-size: 1.1rem;
  transition: 0.5s;


}
.aside-link:hover{
  color: wheat;
  box-shadow: 0px 1px wheat;

}
@media screen and (max-width:768px){
.aside {
  background-color: transparent;
  flex-direction: column;
  padding: 15px 5px;
}
.aside-list{
  display: none;
}
.aside-link {
  margin: 0 .3rem;
  font-size: .9rem;
}

}
