<footer>
  <div class="container">
    <ul class="contacto">
      <li><i class=""></i> Dirección: CR 7 #14a-27&nbsp;&nbsp;&nbsp; |</li>
      <li><i class=""></i> Teléfono: 320 998 14 30&nbsp;&nbsp;&nbsp; |</li>
      <li><i class=""></i> Correo: info@beautynails.com</li>
    </ul>
  </div>
  <hr>
  <div class="text">
    <ul class="redes">
      <p>© 2024 Beauty Nails &nbsp; - </p>
      <a routerLink="https://www.facebook.com/" class="redes_link"><img class="redes-img" src="https://i.pinimg.com/originals/34/43/30/34433032ec57ef0e5486af62588a5a70.png" alt=""></a>
      <a routerLink="" class="redes_link"><img class="redes-img" src="https://i.pinimg.com/originals/fa/90/e1/fa90e1e7734e5bef1193daca074ad67c.png" alt=""></a>
      <a routerLink="" class="redes_link"><img class="redes-img youtube" src="https://i.pinimg.com/originals/72/11/fb/7211fbb00bce8645fb9fbd825dcc502f.png" alt=""></a>
      <a routerLink="./auth/login" class="redes_link"><img class="redes-img" src="https://i.pinimg.com/originals/03/0c/04/030c04cfbb30374f61f14c9b76f150e4.png" alt=""></a>

    </ul>
  </div>

</footer>
