
<div class="informacion">
  <div class="text">
    <h2>Nuestra Tienda</h2> <br> <br>
    <p class="text_p">
      Descubre nuestra gama de productos para uñas en Beauty Nails. ¡Expresa tu estilo y cuida tus uñas! ¡Brilla todos los días! <br><a class="text_link" routerLink="/store">Ir a Tienda</a>
    </p>
  </div>
  <div class="imagen" data-texto="Encuentra los mejores productos en nuestra"> <img class="img" src="https://i.pinimg.com/originals/ba/b9/c7/bab9c75c6bd68f7eaac27b950d745625.png" alt="">
  </div>
</div>
