.taller {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  margin: 0;
  padding: 5% 10%;
}

.img {
  /* height: 100px; */
}

.img-taller {
  max-width: 390px;
  width: 100%;
  max-height: 330px;
  border-radius: 4px;
}

/* Estilos para la mitad derecha que contiene la información del taller */
.taller-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  max-width: 60%;
}

.taller-title {
  width: 100%;
  max-width: 100%;
  text-align: center;
}

h3 {
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Cardo", serif;
  padding-bottom: 5px;
  cursor: pointer;
}

.taller-text {
  letter-spacing: .8px;
  font-size: 1rem;
  line-height: 1.4;
  text-align: justify;
  margin-left: 20px; /* Espacio entre la imagen y el texto */
  margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.taller-btn {
  background-color: rgb(255, 6, 68); /* Color de fondo del botón */
  color: white;
  padding: 10px 15px; /* Tamaño del padding original */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; /* Tamaño de fuente original */
  width: 150px; /* Ancho automático */
  margin: auto;
}

/* Estilos para hacerlo responsivo */
@media (max-width: 600px) {
  .taller {
    flex-direction: column;
  }

  .img,
  .taller-info {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding:10%;
  }
  .taller-title{
    font-size: 1.1rem;
  }
  .taller-text{
    font-size: .8rem;
  }
  .taller-btn {
    padding: 7px;
    font-size: 12px;
  }
}
