
<section class="main-section">
    <div class="card-main">
        <div class="card-header">
            <!-- <h2 class="title">DASHBOARD</h2> -->
        </div>
        <h2 class="title2">Elige la opcion que deseas realizar</h2>
        <div class="card-buttons">
          <div class="info">
            <h2 class="title">Productos</h2>
            <div class="card-buttons-p">
              <a routerLink="/dashboard/products"><button class="button">Ver Productos</button></a>
              <a routerLink="/dashboard/products/new"><button class="button"> Nuevo Producto</button></a>
            </div>
          </div>
  
  
          <div class="info">
            <h2 class="title">Servicios</h2>
            <div class="card-buttons-p">
              <a routerLink="/dashboard/servicios"><button class="button"> Ver Servicios</button></a>
              <a routerLink="/dashboard/servicios/new-service"><button class="button"> Nuevo Servicio</button></a>
            </div>
          </div>
  
          <div class="info">
            <h2 class="title">Talleres</h2>
            <div class="card-buttons-p">
              <a routerLink="/dashboard/talleres"><button class="button">Ver Talleres</button></a>
              <a routerLink="/dashboard/talleres/new"><button class="button"> Nuevo Taller</button></a>
            </div>
          </div>
  
  
          <!-- <div class="card-buttons-p"><a routerLink="/dashboard"><button class="button">Back</button></a></div> -->
        </div>
    </div>
    <router-outlet></router-outlet>
  </section>


