
<div class="informacion">
  <!-- <div class="imagen" data-texto="Encuentra los mejores productos en nuestra"> <img class="img" src="https://i.pinimg.com/originals/b1/df/20/b1df2038c1a5d7d906fd652ad943a2da.png" alt="">
  </div> -->
  <div class="text">
    <h2>Nuestra Tienda</h2> <br> <br>
    <p class="text_p">
      Descubre nuestra gama de productos para uñas en Beauty Nails. ¡Expresa tu estilo y cuida tus uñas! ¡Brilla todos los días! <br><a class="text_link" routerLink="/store">Ir a Tienda</a>
    </p>
  </div>
  <div class="imagen" data-texto="Encuentra los mejores productos en nuestra"> <img class="img" src="https://i.pinimg.com/originals/b1/df/20/b1df2038c1a5d7d906fd652ad943a2da.png" alt="">
  </div>
  <!-- <div class="imagen" data-texto="Encuentra los mejores productos en nuestra"> <img class="img" src="../../../assets/images/dtt.png" alt="">
  </div> -->
</div>
