.carrito-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
h2{
  color: #c81566;
  font-weight: bold;
}

.carrito-details {
  margin-bottom: 10px;
}

.carrito-details p {
  margin: 5px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.close-button,
.pagar-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button {
  background-color: #ccc;
  color: #333;
}

.pagar-button {
  background-color: #c81566 ;
  color: #fff;
}

@media (max-width: 768px) {
  .carrito-container {
    width: 80%;
    padding: 10px;
  }

  .close-button,
  .pagar-button {
    padding: 5px 12px;
  }
}
