@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
/* @import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-decoration: none;
    font-family: "Fanwood Text", serif;
    /* font-family: "Kalam", sans-serif; */
    font-weight: 400;
    font-style: normal;

}

body{
    /* background-color: rgb(245, 245, 245) ; */
    margin: 0;
}



.img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.cursor-pointer {
  cursor: pointer; /* Aplica el cursor de puntero */
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
